## Uploading cells as gists

In [ ]:
# %gist description: nb2medium-test gistname: script.py upload: both
a = 1
b = 2
c = a*b**b
c = [2,2,1,2,2,3,4,421,3,12,121,2,12,12,13,13,1,31,3,13]
print(c)
import pandas as pd
pd.DataFrame({'a': [1,2,3], 'b': [123,4,2]})

[2, 2, 1, 2, 2, 3, 4, 421, 3, 12, 121, 2, 12, 12, 13, 13, 1, 31, 3, 13]

   a    b
0  1  123
1  2    4
2  3    2